<!DOCTYPE html>
<html>
<head>
  <title>Edit Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <%- include('navbar') %>
  <div class="container">
    <h2>Edit Project</h2>
    <form action="/admin/edit/<%= project.id %>" method="post">
      <div class="form-group">
        <label for="name">Project Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= project.name %>">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description"><%= project.description %></textarea>
      </div>
      <div class="form-group">
        <label for="team_lead">Team Lead</label>
        <input type="text" class="form-control" id="team_lead" name="team_lead" value="<%= project.team_lead %>">
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" name="status" value="<%= project.status %>">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</body>
</html>
